﻿.logo
{
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
    text-shadow: 3px 2px #4CAF50;
}
.dotcom
{
    text-shadow: 3px 2px #4CAF50;
    color: #555555;
}
.container
{
    padding: 0.01em 16px;
}
.logotext
{
    color: #4CAF50;
    text-shadow: 3px 2px #555555;
    float: right !important;
    letter-spacing: 4px;
    font-family: "fontawesome";
}
h1
{
    font-weight: 400;
    color: #666;
    line-height: 1.5em;
    text-align: center;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    display: block;
    position: absolute;
    top: 25px;
    left: 529px;
}
h3
{
    font: normal bold 25px/30px Georgia,serif;
    text-shadow: 3px 2px #4CAF50;
    color: Black;
    line-height: 1.5em;
    text-align: center;
    font-family: fontawesome;
    letter-spacing: 4px;
    display: block;
    top: 133px;
    left: 484px;
}
.header
{
    text-align: right;
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    background-color: white;
    border-bottom: 2px solid #ddd;
}
body
{
    background-color: white;
}
.tbl
{
    border: medium inset #000000;
    width: 100%;
}
td
{
    text-align: center;
}
.dropdown
{
    width: 90%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form
{
    border-radius: 5px;
    background-color: #f1f1f1;
    text-align: justify;
    font-family: Verdana;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 160px;
    margin-right: 160px;
}
.card
{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.innerform
{
    color: #000 !important;
    background-color: #fff !important;
}
.btn
{
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    background-color: #4CAF50;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover
{
    background-color: #3e8e41;
}

.btn:active
{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.txt
{
    position: relative;
    display: block;
    width: 90%;
    padding: 10px;
    margin: 0 24px 10px 0;
    background-color: #fff;
    box-shadow: inset 0 .1em .1em 0 rgba(0, 0, 0, .05);
    transition: all .35s ease-in-out;
    color: #000;
    font-size: 16px;
    line-height: 1.25em;
    top: -1px;
    font-size: large;
    font-family: Verdana;
    border-radius: 4px;
    box-sizing: border-box;
}
p
{
    font: normal bold 16px/30px Georgia,serif;
    font-variant: small-caps;
}
.btninsert
{
    border-radius: 10px;
    position: relative;
    background-color: White;
    border: 2px solid #4CAF50;
    font-size: 20px;
    color: Black;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    top: 2px;
    left: 0px;
}
.rippleripple
{
    border-radius: 10px;
    position: relative;
    background-color: White;
    border: 2px solid #4CAF50;
    font-size: 28px;
    color: Black;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.rippleripple, .btninsert:hover
{
    background-color: #4CAF50;
    color: White;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.txt:focus, .textarea:focus
{
    box-shadow: 0 0 8px 1px #0000ff;
}
.lbl
{
    width: 90%;
    display: block;
    text-align: center;
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
.textarea
{
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    background: #fff;
    background: rgba(255, 255, 255, .75);
    width: 90%;
    padding: .75em 1em;
    box-shadow: inset 0 .1em .1em 0 rgba(0, 0, 0,10);
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: all .35s ease-in-out;
}
.chatbox
{
    height: 500px;
    border-color: Black;
    border-style: solid;
    outline: 0;
    width: 100%;
    border-radius: .35em;
}
.footer
{
    position: static;
    font-variant: small-caps;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    display: block;
    line-height: 1.25em;
    color: #444;
    font-weight: 700;
    font-size: 20px;
    bottom: 0px;
}
.top
{
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}
.menu
{
    overflow: auto;
    background-color: #f1f1f1;
}
.navbar
{
    margin-left: 150px;
    list-style: none;
}
.navbar li
{
    background-color: #009933;
    border: solid 1px black;
    width: auto;
    height: 100%;
    text-align: center;
    line-height: 40px;
    float: left;
    position: relative;
    border-radius: 10px;
}
.a
{
    background-color: #009933;
    text-decoration: none;
    color: white;
    padding: 10px 15px 9px 15px !important;
    display: inline-block;
    border-radius: 10px;
}
.a:hover, .active
{
    background-color: green;
    color: white;
    border-radius: 10px;
}
.a:focus
{
    background-color: Green;
    color: white;
    border-radius: 10px;
}
.valid
{
    text-align: left;
    color: Red;
    font-weight: 700;
    font-size: 20px;
}
.block
{
    color: #444;
    font-weight: 700;
    font-size: 20px;
}
.mGrid
{
    width: 100%;
    border: solid 5px white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    border-radius: 6px;
}
.mGrid td
{
    font-size: large;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.25em;
    padding: 2px;
    border: solid 5px white;
    color: #000;
    padding: 10px 10px 10px 10px !important;
    text-align: center;
}
.mGrid th
{
    text-align: center;
    font-size: large;
    font-family: Verdana;
    font-size: 16px;
    line-height: 1.0em;
    padding: 4px 2px;
    border-radius: 4px;
    color: #fff;
    padding: 10px 10px 10px 10px !important;
    border: solid 5px white;
    background-color: #4CAF50;
}
.mGrid .alt
{
    background-color: #fcfcfc;
}
.mGrid .pgr
{
    background-color: #4CAF50;
}
.mGrid .pgr table
{
    margin: 5px 0;
}
.mGrid .pgr td
{
    text-align: center;
    padding: 0 6px;
    font-weight: bold;
    border: solid 3px #fcfcfc;
    color: #fff;
    line-height: 12px;
}
.mGrid .pgr a
{
    color: #666;
    text-decoration: none;
}
.mGrid .pgr a:hover
{
    color: #000;
    text-decoration: none;
}
.sidebar
{
    position: absolute;
    top: 90px;
    width: 250px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 12px;
    color: #000;
    font-family: verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    border: 1px solid #D7EAF4;
}
.completionList
{
    border: solid 1px #444444;
    height: 100px;
    overflow: auto;
    background-color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 1.25em;
}

.listItem
{
    color: #1C1C1C;
}

.itemHighlighted
{
    font-weight:bold;
    background-color: #D7EAF4;
}
