﻿*
{
    margin:0;
    padding:0;
    font-family:Tahoma,sans-serif;
    box-sizing:border-box;
}
.chatbox
{
    border-radius: 4px;
    box-sizing: border-box;
    width:1000px;
    max-width:700px;
    height:600px;
    background-color:#fff;
    padding:25px;
    margin:20px auto;
    box-shadow:0 3px #ccc;
}
.chatlogs
{
    padding:10px;
    width:100%;
    height:450px;
    overflow-x:hidden;
    overflow-y:scroll;
}
.chatlogs::-webkit-scrollbar
{
    width:10px;
}
.chatlogs::-webkit-scrollbar-thumb
{
    border-radius:5px;
    background-color: rgba(0,0,0,0.1);
}
.chat
{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    margin-bottom:10px;
}
.chat .user-photo
{
    width:60px;
    height:60px;
    background-color:#ccc;
    border-radius:50%;
    overflow:hidden;
}
.chat .user-photo .img
{
    width:100%;
}
.chat .chat-message
{
    width:80%;
    padding:15px;
    margin:5px 10px 0;
    background-color:#1ddced;
    border-radius:10px;
    color:#fff;
    font-size:20px;
}
.bot .chat-message
{
    background-color:#1adda4;
}
.user .chat-message
{
    background-color:#1ddced;
    order: -1;
}
.chat-form
{
    margin-top:20px;
    display:flex;
    align-items:flex-start;
}
.chat-form .textbox
{
    width:100%;
    height:50px;
    border:2px solid #eee;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none;
    padding:10px;
    font-size:18px;
    color:#333;
    background-color: #fff;
    box-shadow: inset 0 .1em .1em 0 rgba(0, 0, 0, .05);
    
}
.chat-form .textbox:focus
{
    background-color:#fff;
    box-shadow: 0 0 8px 1px #0000ff;
}