﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="MyBot.Admin.Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Admin Panel</title>
    <link href="../StyleSheet/Style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function preventBack() {
            window.history.forward();
        }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div class="header">
        <h3>
            Admin Panel</h3>
    </div>
    <br />
    <br />
    <div class="sidebar">
        <br />
        <asp:HyperLink ID="HyperLink1" CssClass="a" NavigateUrl="~/Admin/ViewLoginDetails.aspx"
            runat="server" Text="Login Details"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink2" CssClass="a" runat="server" NavigateUrl="~/Admin/ViewFeedbackDetails.aspx"
            Text="Customer Feedbacks"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink3" runat="server" CssClass="a" NavigateUrl="~/Admin/Managing.aspx"
            Text="Mono Keywords"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink4" runat="server" CssClass="a" NavigateUrl="~/Admin/MonoResponses.aspx"
            Text="Mono Responses"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink5" runat="server" CssClass="a" NavigateUrl="~/Admin/ViewBi_Keys_Resp.aspx"
            Text="Bi Keywords/Responses"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink6" runat="server" CssClass="a" NavigateUrl="~/Admin/ViewTri_Keys_Resp.aspx"
            Text="Tri Keywords/Responses"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink7" runat="server" CssClass="a" NavigateUrl="~/Admin/ViewNormalize.aspx"
            Text="Normalizer"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink8" runat="server" CssClass="a" NavigateUrl="~/Admin/ViewDictionaryWords.aspx"
            Text="Dictionary"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink9" runat="server" CssClass="a" NavigateUrl="~/Admin/ViewBadwords.aspx"
            Text="Badwords"></asp:HyperLink>
        <br />
        <br />
        <asp:HyperLink ID="HyperLink10" runat="server" CssClass="a" NavigateUrl="~/Admin/Showchatlogs.aspx"
            Text="View ChatLogs"></asp:HyperLink>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" CssClass="btninsert" Text="Update Bi-Keywords"
            OnClick="Button1_Click" />
        <br />
        <br />
        <asp:Button ID="Button2" runat="server" CssClass="btninsert" Text="Update Tri-Keywords"
            OnClick="Button2_Click" />
        <br />
        <br />
    </div>
    <div style="margin-left: 350px">
        <asp:Label ID="lblupdate" CssClass="lbl" ForeColor="Green" runat="server"></asp:Label>
        <br />
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
    <br />
    <br />
    <br />
    <div class="footer">
        <a title="Return to top of the page" class="a" href="#Top">Return to top</a>
        <br />
        © 2017 AssistantBot.com All rights reserved.
        <br />
        Developed By Elias Gomes in ASP.net
    </div>
</body>
</html>
